<div class="card">
  <div class="p-2">
    <a class="text-dark" [routerLink]="['/public/projects/detail/', project.id]">
      <img class="card-img-top rounded" [src]="project.imagen" [alt]="project.titulo">
    </a>
  </div>
  <div class="card-body pt-2">
    <a class="text-dark" [routerLink]="['/public/projects/detail/', project.id]">
      <h4 class="fw-bold mb-2">{{ project.titulo }}</h4>
    </a>
    <p class="card-text mb-2">{{ project.descripcion }}</p>
    <p class="text-muted small mb-2">Last updated: Yesterday 3:12 AM</p>
    <div class="avatar-group mb-2">
      <div class="avatar avatar-sm">
        <img src="assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <span class="avatar-title rounded-circle border border-white bg-success">+</span>
      </div>
    </div>
    <a class="btn btn-danger" [routerLink]="['/public/projects/detail/', project.id]">Conoce más &raquo;</a>
  </div>
</div>
