<div class="page-header">
  <h4 class="page-title">Listado de Projectos</h4>
  <ul class="breadcrumbs">
    <li class="nav-home">
      <a routerLink="/admin/account">
        <i class="flaticon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/projects">Proyectos</a>
    </li>
    <li class="separator">
      <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
      <a routerLink="/">Lista de Proyectos</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xxl-10 col-xl-10">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3" *ngFor="let proyecto of listaProyectos">
        <app-card [data]="proyecto"></app-card>
      </div>
    </div>
  </div>
</div>
