header {
  background: #B53318;
  color: white;
  font-family: 'Alkatra', cursive;
}

#titulo {
  margin-top: 2%;
  margin-right: 5%;
  font-family: 'Alkatra', cursive;
}

#navbarSupportedContent {
  margin-top: 8%;
}


#logo {
  margin: 1%;
}
