<div class="card">
  <div class="p-2">
    <a class="text-dark" [routerLink]="['/admin/projects/detail-project/', data.proyecto.id]">
      <img class="card-img-top rounded img-project" [src]="data.proyecto.imagen" [alt]="data.proyecto.titulo">
    </a>
  </div>
  <div class="card-body pt-2">
    <a class="text-dark" [routerLink]="['/admin/projects/detail-project/', data.proyecto.id]">
      <h4 class="fw-bold mb-2">{{ data.proyecto.titulo }}</h4>
    </a>
    <p class="card-text mb-2"> {{ data.proyecto.descripcion | truncateText:30 }}</p>
    <p class="text-muted small mb-2">{{ data.proyecto.fecha | date: 'fullDate' }}</p>
    <div class="avatar-group mb-2">
      <div class="avatar avatar-sm">
        <img src="assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <img src="assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle border border-white">
      </div>
      <div class="avatar avatar-sm">
        <span class="avatar-title rounded-circle border border-white bg-success">+</span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-danger" [routerLink]="['/admin/projects/detail-project/', data.proyecto.id]">Conoce más &raquo;</a>
  </div>
</div>
