.nav-link {
  color: white;
}

#boton {
  font-family: 'Dosis', sans-serif;
}

#titulo {
  margin-top: 2%;
  margin-right: 5%;
  font-family: 'Alkatra', cursive;
}

footer {
  font-family: "Yuji Syuku", alkatra;
}
