<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">{{ project.titulo }}</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid rounded img-project" src="assets/img/tarjeta1.jpg" [alt]="project.titulo">
          </div>
          <div class="col-md-8">
            <p class="card-text mb-2" align="justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi commodi quaerat voluptate cum explicabo
              neque veniam, doloremque culpa iure. Labore numquam veniam, recusandae aspernatur dolore libero totam
              incidunt cumque. Dolorem.
              Eum aliquid ullam consequatur similique tenetur recusandae nostrum distinctio vero quidem, cupiditate
              possimus ipsam obcaecati? Facilis minima molestiae cumque in, atque repudiandae itaque? Deleniti, at.
              Adipisci laborum explicabo aliquam sed!
              Culpa maxime assumenda numquam maiores rem expedita sunt animi vero recusandae, minima perferendis a
              dignissimos voluptates eligendi? Dolor, nostrum perferendis cupiditate eveniet recusandae ut ab et, quos
              vel fuga ipsam?
              Pariatur tenetur rem sed, optio illum voluptatem. Fuga cumque eveniet ut laborum quo esse quam repellendus
              dolorum, tempore, iure voluptatibus itaque commodi quis natus, minus fugit blanditiis? Doloremque,
              provident veniam.
              Tempora, numquam. Magnam at fugiat debitis ea, quia vero ad accusantium aliquam placeat illo voluptas
              asperiores! Alias iure suscipit aliquid aliquam provident ullam odio. Illum beatae aliquid nostrum nam
              sit?
            </p>
            <p class="text-muted small mb-2">{{ project.fecha | date: 'fullDate' }}</p>
            <div class="avatar-group mb-2">
              <div class="avatar avatar-sm">
                <img src="assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle border border-white">
              </div>
              <div class="avatar avatar-sm">
                <img src="assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle border border-white">
              </div>
              <div class="avatar avatar-sm">
                <img src="assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle border border-white">
              </div>
              <div class="avatar avatar-sm">
                <img src="assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle border border-white">
              </div>
              <div class="avatar avatar-sm">
                <span class="avatar-title rounded-circle border border-white bg-success">+</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>